body{
	background-image: url(TriviaGame/assets/images/aerialnyc1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.text-muted{
	color: rgb(62, 20, 60);
}
.last-seconds{
  color: rgb(61, 54, 54);
}
.option{
  margin: 15px;
}